@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&family=Open+Sans:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open sans", sans-serif;
}

h1 {
    background: rgb(48, 100, 102);
    background: linear-gradient(
      45deg,
      rgba(48, 100, 102, 1) 19%,
      rgba(249, 249, 249, 1) 94%
    );
  display: flex;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  justify-content: center;
  border: 2px solid rgb(235, 233, 233);
  border-radius: 4px;
  margin-bottom: 4px;
}
body {
  height: 100vh;
  background: rgb(6, 21, 29);
  background: radial-gradient(
    circle,
    rgba(6, 21, 29, 1) 8%,
    rgba(86, 95, 104, 1) 90%
  );

  display: flex;
  align-items: center;
  justify-content: center;
}
.relogio {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  width: 550px;
  background: rgb(48, 100, 102);
  background: linear-gradient(
    45deg,
    rgba(48, 100, 102, 1) 19%,
    rgba(249, 249, 249, 1) 94%
  );

  border: 2px solid rgb(252, 246, 246);
  border-radius: 8px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}
.relogio div {
  height: 100px;
  width: 140px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: rgba(141, 139, 139, 0.212);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
  border-radius: 7px;
  letter-spacing: 3px;
}
.relogio span {
  font-weight: bolder;
  font-size: 50px;
}
.relogio span.tempo {
  font-size: 10px;
}

p {
  color: #ffffff;
  font-size: 10px;
}

@media only screen and (max-width: 1000px) {
  div.relogio {
    height: 80vh;
    flex-direction: column;
    width: 46vh;
  }
}
